<input type="radio" name="tab" value="igotnone" onclick="show1();" checked/>
Show your buys
<input type="radio" name="tab" value="igottwo" onclick="show2();" />
Show your sells
<div id="myorders">
  <h1>My orders</h1>
  <div class="llista">
      <ul>
        <li>Seller</li>
        <li>Product</li>
        <li>Amount</li>
      </ul>
      {{#each myorders}}
      <ul>
        <li data-label="Seller">{{this.seller.username}}</li>
        <li data-label="Product">{{this.product.name}}</li>
        <li data-label="Amount">{{this.amount}} {{this.product.units}}</li>
        <li data-label="TOTAL">{{calculateTotal this.amount this.product.price}}€</li>
      </ul>
      {{/each}}
  </div>
</div>
<div id="mysells">
  <h1>My sells</h1>
  <div class="llista">
      <ul>
        <li>Client</li>
        <li>Product</li>
        <li>Amount</li>
      </ul>
      {{#each mysells}}
      <ul>
        <li data-label="Client">{{this.buyer.username}}</li>
        <li data-label="Product">{{this.product.name}}</li>
        <li data-label="Amount">{{this.amount}} {{this.product.units}}</li>
        <li data-label="TOTAL">{{calculateTotal this.amount this.product.price}}€</li>
      </ul>
      {{/each}}
  </div>
</div>
<script src="/javascripts/twolists.js"></script>
<footer>
  <div class="icon-footer">
    <a href="/"><img src="../images/outhome.svg" alt="home"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile"><img src="../images/outprofile.svg" alt="Profile"></a>
  </div>
  <div class="icon-footer">
    <a href="/product"><img src="../images/myproducts.svg" alt="MyProducts"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile/myorders"><img src="../images/hands.png" alt="Orders"></a>
  </div>
</footer>