<form action="/product/{{producte._id}}/buy" method="POST" >
  <section id="header1">
  </section>
  <section>
   <div class="mainform">
      <p>Venedor <strong>{{producte.owner.username}}</strong></p>
      <p>Comprador <strong>{{comprador.username}}</strong></p>
      <p>Producte<strong>{{producte.name}}</strong></p>
      <p>Descripcio <strong>{{producte.description}}</strong></p>
      <p>Preu <strong>{{product.price}}€</strong></p>
      <div class="field submit">
        <label for="amount">Amount</label>
        <input type="number" name="amount" value="{{amount}}">
        <span>{{producte.units}}</span>
      </div>
      <div class="field submit">
        <button type="submit">Buy</button>
      </div>
  
      <div class="flash">
        {{> flash }}
      </div>
    </div>
  </section>
</form>

