<form action="/product/{{producte._id}}/buy" method="POST" >
  <p>Venedor: {{producte.owner.username}}</p>
  <p>Comprador: {{comprador.username}}</p>
  <p>Producte: {{producte.name}}</p>
  <p>Descripcio: {{producte.description}}</p>
  <div>
    <label for="amount">Amount</label>
    <input type="text" name="amount" value="{{amount}}">
    <span>{{producte.units}}</span>
  </div>
  <button type="submit">Buy</button>
</form>