<form action="/product/create" class="js-add-product" method="POST">
  <div>
    <label for="">Name</label>
    <select id="units-select" name="name" value="{{name}}">
      <option value="Tomate">Tomate</option>
      <option value="Zanahoria">Zanahoria</option>
      <option value="Alcachofa">Alcachofa</option>
      <option value="Lechuga">Lechuga</option>
      <option value="Apio">Apio</option>
      <option value="Berenjena">Berenjena</option>
      <option value="Brocoli">Brocoli</option>
      <option value="Berza">Berza</option>
      <option value="Calabacin">Calabacin</option>
      <option value="Calçots">Calçots</option>
    </select>
  </div>
  <div>
    <label for="">Description</label>
    <input type="text" name="description" value="{{description}}">
  </div>
 <div>
    <label for="">Amount</label>
    <input type="number" name="amount" value="{{amount}}">
    <select id="units-select" name="units" value="{{units}}">
      <option value="Kg">Kg</option>
      <option value="Units">Units</option>
    </select>
  </div>
   <div>
    <label for="">Price</label>
    <input type="number" step=".01" name="price" value="{{price}}">
  </div>

  {{!-- <div>
    ficar a nes form  enctype="multipart/form-data"
    <label>Upload a picture</label>
    <input type="file" name="image">
  </div> --}}
  <button type="submit">Add product</button>
</form>