  <h3>{{producte.name}}</h3>
  <div>
    <p>Description: {{producte.description}}</p>
    <p>Available: {{producte.amount}} {{producte.units}}</p>
    <p>Price: {{producte.price}}€</p> 
    <p>Seller: {{producte.owner.username}}</p>
    <img src="{{producte.image}}" alt="">
  </div>

  {{#if isOwner}}
  <a href="/product/{{producte._id}}/edit">Edit product</a>
  <a href="/product/{{producte._id}}/delete">Delete product</a>  
  {{else}}
  <a href="/product/{{producte._id}}/buy">Buy product</a>
  {{/if}}

<footer>
  <div class="icon-footer">
    <a href="/"><img src="../images/outhome.svg" alt="home"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile"><img src="../images/outprofile.svg" alt="Profile"></a>
  </div>
  <div class="icon-footer">
    <a href="/product"><img src="../images/myproducts.svg" alt="MyProducts"></a>
  </div>
  <div class="icon-footer">
    <a href="/profile/myorders"><img src="../images/change.svg" alt="Orders"></a>
  </div>
</footer>