  <h3>{{producte.name}}</h3>
  <div>
    <p>Description: {{producte.description}}</p>
    <p>Available: {{producte.amount}} {{producte.units}}</p> 
    <p>Seller: {{producte.owner.username}}</p>
  </div>

  {{#if isOwner}}
  {{else}}
  <a href="/product/{{producte._id}}/buy">Buy product</a>
  {{/if}}

