<form action="/" class="js-add-product" method="POST" enctype="multipart/form-data">
  <div>
    <label for="">Name</label>
    <input type="text" name="name" value="{{name}}">
  </div>
  <div>
    <label for="">Description</label>
    <input type="text" name="description" value="{{description}}">
  </div>
 <div>
    <label for="">Amount</label>
    <input type="text" name="amount" value="{{amount}}">
  </div>
 div>
    <label for="">Units</label>
     <input type="radion" name="Kg." value="{{units}}">Kg.<br>
    <input type="radio" name="Units" value="{{units}}">Units<br>
  </div>

  <div>
    <label>Upload a picture</label>
    <input type="file" name="image">
  </div>
 
</form>

<script src="/javascripts/location.js"></script>